body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: paleturquoise; /* Pale Turquoise background */
    color:  rgb(212, 175, 55); /* #d4af37 text color */
  }
 
  #group {
    display: flex;
    flex-direction: column;
    height: 118vh;
    background: white; /* White background for the main container */
    border-radius: 20px;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: red; /* #d4af37 colored heading */
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: white; /* White nav bar */
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  nav a {
    padding: 15px 25px;
    text-decoration: none;
    color:  rgb(212, 175, 55); /* #d4af37 text */
    font-weight: bold;
    border: 2px rgb(212, 175, 55); /* #d4af37 borders */
    margin-right: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  nav a:hover {
    background-color:  rgb(212, 175, 55);
    color: white; /* Reverse colors on hover */
  }
  
  nav a.active {
    background-color:rgb(212, 175, 55);
    color: white;
    cursor: default;
  }

  .inning-section {
    display: none;
  }
  
  .inning-section.active {
    display: block;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse:collapse; /* Collapse borders for the table */
  }
  
  th {
    background-color: #d4af37;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border: 1px solid grey; /* Gold border */
  }
  
  /* Table Header Styling */
  td {
    background-color: #fff8dc;
    padding: 8px;
    text-align: center;
    color: black;
    font-size: 16px;
    border: 1px solid grey; /* Gold border */
    }
  
  button {
    background-color:  rgb(212, 175, 55);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button:hover {
    background-color: white;
    border: 2px solid  rgb(212, 175, 55); /* Gold border on hover */
    color:  rgb(212, 175, 55); /* Gold text on hover */
  }
  